body {
background-color: beige;
font-family: "consolas", sans-serif;
}

h1 {
    text-align: center;
}

#instructions {
text-align: center;
width: 600px;
height: 250px;
font-size: 20px;
position: relative;

top: 10px;
left: 400px;
}

#start:hover {
    background-color: tomato;
}

#start:active {
    background-color: yellow;
}

